{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eleve</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eleve.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ eleve.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ eleve.prenom }}</td>
            </tr>
            <tr>
                <th>Datenaissance</th>
                <td>{{ eleve.datenaissance }}</td>
            </tr>
            <tr>
                <th>Lieunaissance</th>
                <td>{{ eleve.lieunaissance }}</td>
            </tr>
            <tr>
                <th>Domicile</th>
                <td>{{ eleve.domicile }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ eleve.sexe }}</td>
            </tr>
            <tr>
                <th>Imagename</th>
                <td>{{ eleve.imageName }}</td>
            </tr>
            <tr>
                <th>Imagesize</th>
                <td>{{ eleve.imageSize }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if eleve.updatedAt %}{{ eleve.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_eleve_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_eleve_edit', { 'id': eleve.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
