{% extends 'backoffice.html.twig' %}

{% block body %}
<!--Main Slider Start-->
<section class="home-slider">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/home-slider/1.jpg"  data-saveperformance="off"  data-title="Input Your Title">
                <img src="{{ asset('frontend/images/home-slider/1.jpg')}}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="tp-caption lfb tp-resizeme"
                data-x="center" data-hoffset="15"
                data-y="center" data-voffset="-80"
                data-speed="1500"
                data-start="500"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"
                style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="big-title"><h2 class="slide-bg-theme">FSW</h2></div></div>

                <div class="tp-caption lfb tp-resizeme"
                data-x="center" data-hoffset="15"
                data-y="center" data-voffset="-10"
                data-speed="1500"
                data-start="750"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"
                style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="big-title"><h2 class="slide-bg-theme slide-bg-black slide-psm">pour la jeunesse</h2></div></div>



                </li>

                <li data-transition="slideup" data-slotamount="1" data-masterspeed="1000" data-thumb="images/home-slider/2.jpg"  data-saveperformance="off"  data-title="Input Your Title">
                <img src="{{ asset('frontend/images/home-slider/2.jpg') }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="tp-caption lfb tp-resizeme"
                data-x="right" data-hoffset="-15"
                data-y="center" data-voffset="-80"
                data-speed="1500"
                data-start="500"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"
                style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="big-title"><h2 class="slide-bg-theme">Fondation Samuel Williams</h2></div></div>

                <div class="tp-caption lfb tp-resizeme"
                data-x="right" data-hoffset="-15"
                data-y="center" data-voffset="-10"
                data-speed="1500"
                data-start="1000"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"
                style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="big-title"><h2 class="slide-bg-theme slide-bg-black slide-psm">pour la jeunesse</h2></div></div>


                </li>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/home-slider/3.jpg"  data-saveperformance="off"  data-title="Input Your Title">
                <img src="{{ asset('frontend/images/home-slider/3.jpg') }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">


                <div class="tp-caption lfb tp-resizeme"
                data-x="left" data-hoffset="15"
                data-y="center" data-voffset="-80"
                data-speed="1500"
                data-start="500"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"
                style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="big-title"><h2 class="slide-bg-theme">Fondation Samuel Williams</h2></div></div>

                <div class="tp-caption lfb tp-resizeme"
                data-x="left" data-hoffset="15"
                data-y="center" data-voffset="-10"
                data-speed="1500"
                data-start="1000"
                data-easing="easeOutExpo"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.3"
                data-endspeed="1200"
                data-endeasing="Power4.easeIn"
                style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="big-title"><h2 class="slide-bg-theme slide-bg-black slide-psm">pour la jeunesse</h2></div></div>


                </li>

            </ul>

          <div class="tp-bannertimer"></div>
        </div>
    </div>
</section>
<!--Main Slider End-->

<!--News Section Start-->
<section class="blog-section io_pt eo_pb">
<div class="container">
  <div class="row">
    <div class="col-md-12 section-title text-center">
      <h1 class="title">La Fondation <span>en action</span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="blog-post">
        <div class="thumb">
          <img alt="" src="{{ asset('frontend/images/blog/1.jpg') }}">
          <div class="overlay">
            <a href="#"><i class="fa fa-link icon"></i></a>
          </div>
          <div class="blog-post-date">21, Dec 2017</div>
        </div>
        <div class="content">
          <h5 class="title">Distributions de kit </h5>
          <div class="meta-tag">
            <a href="#">Comment (13)</a>
            <a href="#">Likes (19)</a>
            <a href="#" class="blog-post-authore">By Admin</a>
          </div>
          <p>Eius sed deserunt voluptatum omnis nulla culpa quidem magni facilis asperiores ullam! Cum dicta nulla suscipit veniam consequuntur. Eius sed deserunt omnis.</p>
          <ul class="blog-social-share icon-round pull-left ao_mt">
            <li><i class="fa fa-share-alt"></i> Partager:</li>
            <li><a href="#"><i class="fa fa-facebook icon"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter icon"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest icon"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus icon"></i></a></li>
          </ul>
          <a class="btn-theme btn-white btn-xs pull-right ao_mt" href="#">Lire </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="blog-post">
        <div class="thumb">
          <img src="{{ asset('frontend/images/blog/2.jpg') }}" alt="">
          <div class="overlay">
            <a href="#"><i class="fa fa-link icon"></i></a>
          </div>
          <div class="blog-post-date">21, Dec 2017</div>
        </div>
        <div class="content">
          <h5 class="title">Remise de bourses </h5>
          <div class="meta-tag">
            <a href="#">Comment (13)</a>
            <a href="#">Likes (19)</a>
            <a class="blog-post-authore" href="#">By Admin</a>
          </div>
          <p>Eius sed deserunt voluptatum omnis nulla culpa quidem magni facilis asperiores ullam! Cum dicta nulla suscipit veniam consequuntur. Eius sed deserunt omnis.</p>
          <ul class="blog-social-share icon-round pull-left ao_mt">
            <li><i class="fa fa-share-alt"></i> Partager:</li>
            <li><a href="#"><i class="fa fa-facebook icon"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter icon"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest icon"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus icon"></i></a></li>
          </ul>
          <a href="#" class="btn-theme btn-white btn-xs pull-right ao_mt">Lire</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="blog-post">
        <div class="thumb">
          <img src="{{ asset('frontend/images/blog/3.jpg') }}" alt="">
          <div class="overlay">
            <a href="#"><i class="fa fa-link icon"></i></a>
          </div>
          <div class="blog-post-date">21, Dec 2017</div>
        </div>
        <div class="content">
          <h5 class="title">Réhabilitation d'ecole</h5>
          <div class="meta-tag">
            <a href="#">Comment (13)</a>
            <a href="#">Likes (19)</a>
            <a class="blog-post-authore" href="#">By Admin</a>
          </div>
          <p>Eius sed deserunt voluptatum omnis nulla culpa quidem magni facilis asperiores ullam! Cum dicta nulla suscipit veniam consequuntur. Eius sed deserunt omnis.</p>
          <ul class="blog-social-share icon-round pull-left ao_mt">
            <li><i class="fa fa-share-alt"></i> Partager:</li>
            <li><a href="#"><i class="fa fa-facebook icon"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter icon"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest icon"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus icon"></i></a></li>
          </ul>
          <a href="#" class="btn-theme btn-white btn-xs pull-right ao_mt">Lire</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!--News Section End-->

<!--Divider Style Start-->
<section class="theme-overlay overlay-theme bg-img img-2 do_pt do_pb">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="fs-italic title oo_mt ae_mb">L'éducation coûte chère, il en va de même pour l'ignorance</h1>
      <h5 class="fs-italic lh-22 oe_mb text-right">Claude Moser</h5>
    </div>
  </div>
</div>
</section>
<!--Divider Style End-->

<!--Donation Section Start-->
<section class="io_pt fo_pb">
<div class="container">
  <div class="row">
    <div class="col-md-12 section-title text-center">
      <h1 class="title">Faire un <span>don</span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col-sm-6">
          <div class="service-pricing">
            <a href="#">
              <div class="thumb">
                <img src="{{ asset('frontend/images/pricing/s1.jpg') }}" alt="">
              </div>
              <div class="content">
                <h4 class="title">Don une fois</h4>
                <div class="price-value flaticon-money-3"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="service-pricing">
            <a href="#">
              <div class="thumb">
                <img src="{{ asset('frontend/images/pricing/s2.jpg') }}" alt="">
              </div>
              <div class="content">
                <h4 class="title">Don regulier</h4>
                <div class="price-value flaticon-money-3"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="service-pricing">
            <a href="#">
              <div class="thumb">
                <img src="{{ asset('frontend/images/pricing/s3.jpg')}}" alt="">
              </div>
              <div class="content">
                <h4 class="title">Don par mois</h4>
                <div class="price-value flaticon-money-3"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="service-pricing">
            <a href="#">
              <div class="thumb">
                <img src="{{ asset('frontend/images/pricing/s4.jpg') }}" alt="">
              </div>
              <div class="content">
                <h4 class="title">Don par an</h4>
                <div class="price-value flaticon-money-3"></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="donation-form">
        <h4 class="form-title"><i class="fa fa-calendar"></i>Souscription</h4>
        <form>
          <div class="row">
            <div class="form-group col-md-12">
              <input class="form-control" type="text" name="name" placeholder="Nom">
            </div>
            <div class="form-group col-md-12">
              <input type="text" name="e-mail" placeholder="E-mail">
            </div>
            <div class="form-group col-md-12">
              <select class="form-control" name="category">
                          <option value="" selected="selected">-- Selectionner le type de don --</option>
                          <option value="Surgery"></option>
                          <option value="Surgery">Unique</option>
                          <option value="Emergancy">Mensuel</option>
                          <option value="Gynaecological">Annuel</option>
                        </select>
            </div>
            <div class="form-group col-md-12">
              <input class="form-control" type="text" name="name" placeholder="Montant">
            </div>
            <div class="form-group col-md-12">
              <textarea placeholder="Message"></textarea>
            </div>
          </div>
          <a class="btn btn-block" href="#">Envoyer</a>
        </form>
      </div>
    </div>
  </div>
</div>
</section>
<!--Donation Section End-->
{% endblock %}
