<!DOCTYPE html>
<html lang="fr">

<head>

<meta charset="UTF-8">

<title>Fondation Samuel Williams</title>

<link rel="shortcut icon" href="{{ asset('frontend/images/favicon.ico')}}" type="image/x-icon">
<link rel="icon" href="{{ asset('frontend/images/favicon.ico')}}" type="image/x-icon">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="{{ asset('frontend/css/style.css')}}" rel="stylesheet">
<link href="{{ asset('frontend/css/reset-style.css')}}" rel="stylesheet">
<link href="{{ asset('frontend/css/responsive.css')}}" rel="stylesheet">
<link href="{{ asset('frontend/css/fsw.css')}}" rel="stylesheet">

</head>

<body>

<!--wrapper start-->
<div class="wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

	<!--Main Content start-->
    <div class="main-content">

        <!--Divider Style Start-->
        <section class="fullScreen theme-overlay2 overlay-black bg-img">
            <div class="container verticle-wrp">
                <div class="row verticle-middle">
                    <div class="col-md-12 text-center">
                        <h1 class="color-theme fz-58 xs-fz-30 ao_mt bo_mb">Oups!! site en maintenance</h1><h2 class="color-gray fz-13 lts-1 fs-italic oo_mt bo_mb lh-26">Désolé.... Nous sommes en maintenance pour mieux repondre à vos attentes. Nous vous prions de revenir plutard....</h2>
                        <h3 class="color-gray fz-16 bo_mb lts-1 lh-26">Contact: <span class="color-theme fz-0 fw-600">+(225) 00 00 00 00 </span> </h3>
                    </div>
                </div>
            </div>
        </section>
        <!--Divider Style End-->

    </div>
	<!--Main Content end-->

	<!--Scroll to top-->
	<div class="scroll-to-top"><span class="fa fa-arrow-up"></span></div>

</div>
<!--wrapper end-->

<!--Jquery Script-->
<script src="{{ asset('frontend/js/jquery-2.1.4.min.js')}}"></script>
<script src="{{ asset('frontend/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('frontend/js/owl.js')}}"></script>
<script src="{{ asset('frontend/js/validate.js')}}"></script>
<script src="{{ asset('frontend/js/jquery-ui-1.11.4/jquery-ui.js')}}"></script>
<script src="{{ asset('frontend/js/jquery.appear.js')}}"></script>
<script src="{{ asset('frontend/js/jquery.countTo.js')}}"></script>
<script src="{{ asset('frontend/js/jquery.fancybox.pack.js')}}"></script>
<script src="{{ asset('frontend/js/jquery.easing.min.js')}}"></script>
<script src="{{ asset('frontend/js/wow.js')}}"></script>
<script src="{{ asset('frontend/js/jPushMenu.js')}}"></script>
<script src="{{ asset('frontend/js/customcollection.js')}}"></script>
<script src="{{ asset('frontend/js/custom.js')}}"></script>

</body>

</html>
